@tailwind base;
@tailwind components;
@tailwind utilities;

.banner-bg {
  background-image: url("../src/assets/images/bg.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.appointment-bg {
  background-image: url("../src/assets/images/appointment.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
